In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mpika,ZM,2022-02-09 04:28:25,-11.8343,31.4529,59.95,99,96,3.91
1,1,Lucera,IT,2022-02-09 04:28:27,41.5082,15.3351,35.42,32,0,5.28
2,2,Jamestown,US,2022-02-09 04:28:27,42.0970,-79.2353,25.92,79,0,11.50
3,3,Cockburn Town,TC,2022-02-09 04:28:28,21.4612,-71.1419,77.58,78,0,20.11
4,4,Aswan,EG,2022-02-09 04:28:28,24.0934,32.9070,56.50,28,0,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. *had to add this because there were negative numbers which were causing an error. google heatmaps does not plot negative numbers
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) * replaced this with the line below due to tht enegative numbers
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent clousiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Cockburn Town,TC,2022-02-09 04:28:28,21.4612,-71.1419,77.58,78,0,20.11
5,5,Meulaboh,ID,2022-02-09 04:28:29,4.1363,96.1285,78.37,87,93,8.10
8,8,Rikitea,PF,2022-02-09 04:26:47,-23.1203,-134.9692,78.96,70,92,15.10
14,14,Avarua,CK,2022-02-09 04:28:32,-21.2078,-159.7750,77.05,88,75,6.91
18,18,Souillac,MU,2022-02-09 04:28:34,-20.5167,57.5167,82.36,78,75,8.05
21,21,Bambous Virieux,MU,2022-02-09 04:25:49,-20.3428,57.7575,82.22,78,75,8.05
25,25,Quelimane,MZ,2022-02-09 04:28:37,-17.8786,36.8883,75.15,94,20,0.00
35,35,Hambantota,LK,2022-02-09 04:28:41,6.1241,81.1185,80.94,78,20,10.36
36,36,Atuona,PF,2022-02-09 04:28:41,-9.8000,-139.0333,78.60,76,13,17.02
44,44,Butaritari,KI,2022-02-09 04:28:44,3.0707,172.7902,82.04,77,82,17.90

In [12]:
preferred_cities_df.count()

City_ID       134
City          134
Country       133
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3     Cockburn Town      TC     77.58  21.4612  -71.1419
5          Meulaboh      ID     78.37   4.1363   96.1285
8           Rikitea      PF     78.96 -23.1203 -134.9692
14           Avarua      CK     77.05 -21.2078 -159.7750
18         Souillac      MU     82.36 -20.5167   57.5167
21  Bambous Virieux      MU     82.22 -20.3428   57.7575
25        Quelimane      MZ     75.15 -17.8786   36.8883
35       Hambantota      LK     80.94   6.1241   81.1185
36           Atuona      PF     78.60  -9.8000 -139.0333
44       Butaritari      KI     82.04   3.0707  172.7902

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Cockburn Town,TC,77.58,21.4612,-71.1419,Osprey Beach Hotel
5,Meulaboh,ID,78.37,4.1363,96.1285,Kost Pria
8,Rikitea,PF,78.96,-23.1203,-134.9692,People ThankYou
14,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
18,Souillac,MU,82.36,-20.5167,57.5167,Shanti Maurice Resort & Spa
21,Bambous Virieux,MU,82.22,-20.3428,57.7575,Casa Tia Villa
25,Quelimane,MZ,75.15,-17.8786,36.8883,Hotel Flamingo
35,Hambantota,LK,80.94,6.1241,81.1185,Bungalow 63
36,Atuona,PF,78.60,-9.8000,-139.0333,Villa Enata
44,Butaritari,KI,82.04,3.0707,172.7902,Isles Sunset Lodge

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))