## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nichinan,JP,31.6000,131.3667,51.48,64,88,7.56,overcast clouds
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,71.24,84,100,6.53,overcast clouds
2,2,Busselton,AU,-33.6500,115.3333,79.25,41,1,10.60,clear sky
3,3,Makat,KZ,47.6469,53.3463,27.30,81,53,15.14,broken clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,49.66,62,40,10.36,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Busselton,AU,-33.6500,115.3333,79.25,41,1,10.60,clear sky
7,7,Hobart,AU,-42.8794,147.3294,77.27,46,75,13.80,broken clouds
12,12,Soyo,AO,-6.1349,12.3689,75.25,84,92,6.08,overcast clouds
13,13,Esperance,AU,-33.8667,121.9000,78.64,66,9,15.14,clear sky
17,17,Rabaul,PG,-4.1967,152.1721,84.07,71,53,11.83,broken clouds
23,23,Bengkulu,ID,-3.8004,102.2655,84.38,66,92,10.92,overcast clouds
30,30,Bandarbeyla,SO,9.4942,50.8122,77.83,61,33,18.41,scattered clouds
32,32,Atuona,PF,-9.8000,-139.0333,78.57,73,10,17.20,clear sky
35,35,Geraldton,AU,-28.7667,114.6000,82.81,51,0,21.85,clear sky
37,37,Muncar,ID,-8.4333,114.3333,85.86,69,90,3.94,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                165
City                   165
Country                165
Lat                    165
Lng                    165
Max Temp               165
Humidity               165
Cloudiness             165
Wind Speed             165
Current Description    165
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Busselton,AU,-33.6500,115.3333,79.25,41,1,10.60,clear sky
7,7,Hobart,AU,-42.8794,147.3294,77.27,46,75,13.80,broken clouds
12,12,Soyo,AO,-6.1349,12.3689,75.25,84,92,6.08,overcast clouds
13,13,Esperance,AU,-33.8667,121.9000,78.64,66,9,15.14,clear sky
17,17,Rabaul,PG,-4.1967,152.1721,84.07,71,53,11.83,broken clouds
...,...,...,...,...,...,...,...,...,...,...
703,703,San Rafael,AR,-34.6177,-68.3301,75.07,31,47,9.37,scattered clouds
707,707,Ipixuna,BR,-1.7625,-48.8043,76.95,98,99,2.64,overcast clouds
712,712,Maryborough,AU,-25.5333,152.7000,82.81,46,31,11.16,scattered clouds
716,716,Kerema,PG,-7.9631,145.7785,85.17,71,97,6.89,overcast clouds
717,717,Bogale,MM,16.2833,95.4000,89.22,17,83,6.40,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Busselton,AU,79.25,clear sky,-33.6500,115.3333,
7,Hobart,AU,77.27,broken clouds,-42.8794,147.3294,
12,Soyo,AO,75.25,overcast clouds,-6.1349,12.3689,
13,Esperance,AU,78.64,clear sky,-33.8667,121.9000,
17,Rabaul,PG,84.07,broken clouds,-4.1967,152.1721,
23,Bengkulu,ID,84.38,overcast clouds,-3.8004,102.2655,
30,Bandarbeyla,SO,77.83,scattered clouds,9.4942,50.8122,
32,Atuona,PF,78.57,clear sky,-9.8000,-139.0333,
35,Geraldton,AU,82.81,clear sky,-28.7667,114.6000,
37,Muncar,ID,85.86,overcast clouds,-8.4333,114.3333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Busselton,AU,79.25,clear sky,-33.6500,115.3333,Observatory Guest House
7,Hobart,AU,77.27,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
12,Soyo,AO,75.25,overcast clouds,-6.1349,12.3689,Hotel Mpampa
13,Esperance,AU,78.64,clear sky,-33.8667,121.9000,Hospitality Esperance
17,Rabaul,PG,84.07,broken clouds,-4.1967,152.1721,Rabaul Hotel
...,...,...,...,...,...,...,...
703,San Rafael,AR,75.07,scattered clouds,-34.6177,-68.3301,Hotel San Rafael
707,Ipixuna,BR,76.95,overcast clouds,-1.7625,-48.8043,Casa da Oscarina
712,Maryborough,AU,82.81,scattered clouds,-25.5333,152.7000,Blue Shades Motel
716,Kerema,PG,85.17,overcast clouds,-7.9631,145.7785,Frena Lodge
717,Bogale,MM,89.22,broken clouds,16.2833,95.4000,Aung Pin Lel Guest House

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd><dd>and</dd><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))